* {
    margin: 0px;
    padding: 0px;
  }
  body {
    font-size: 120%;
    background: #9504b3;
  }
  
  .header {
    width: 30%;
    margin: 50px auto 0px;
    color: white;
    background: #2b8ae4;
    text-align: center;
    border: 1px solid #1e6ed8;
    border-bottom: none;
    border-radius: 20px 20px 20px 20px;
    padding: 20px;
  }
  form, .content {
    width: 30%;
    margin: 10px auto;
    padding: 20px;
    border: 1px solid rgb(179, 178, 178);
    background: rgb(179, 176, 176);
    border-radius: 20px 20px 20px 20px;
  }
  .input-group {
    margin: 10px 0px 10px 0px;
  }
  .input-group label {
    display: block;
    text-align: left;
    margin: 3px;
  }
  .input-group input {
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid rgb(3, 3, 3);
  }
  .btn {
    padding: 10px;
    font-size: 15px;
    color: white;
    background: #2e74db;
    border: none;
    border-radius: 5px;
  }
  .error {
    width: 92%; 
    margin: 0px auto; 
    padding: 10px; 
    border: 1px solid #ffffff; 
    color: #ffffff; 
    background: #b41717; 
    border-radius: 10px; 
    text-align: left;
  }
  .success {
    color: #fcfcfc; 
    background: #55bb2c; 
    border: 1px solid #fcfffc;
    margin-bottom: 20px;
  }